<launch>

  <arg name="gui" default="true" doc="Starts gazebo gui" />

  <!-- Launch gazebo simulation -->
  <include file="$(find ur10_simulation)/launch/ur5e/ur5e_sim.launch">
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- Launch MoveIt!-->
  <include file="$(find ur10_simulation)/launch/ur5e/ur5e_sim_moveit_planning_execution.launch"/>

  <!-- Launch RViz-->
  <include file="$(find ur10_simulation)/launch/ur5e/ur5e_moveit_rviz.launch"/>

</launch>
